MacOS/__pycache__/
MacOS/hookcase/*.o
MacOS/hookcase/*.dylib
MacOS/hook_resolver/*.o
MacOS/hook_resolver/*.dylib
MacOS/hook_resolver/*.dSYM/
iOS/*.ipa
iOS/__handlers__/
iOS/__pycache__/
iOS/client/
iOS/SkipTracer.framework/
iOS/Payload/
iOS/PatchTest/
iOS/Clutch/
iOS/*.plist
iOS/*.txt
iOS/spclient
iOS/spmod
iOS/debugserver
iOS/server/__pycache__/
iOS/itnl
iOS/frida-scripts/frida/
iOS/frida-scripts/__handlers__/
.DS_Store
/.vscode/
MacOS/hookcase/
