MacOS/__pycache__/
MacOS/hookcase/*.o
MacOS/hookcase/*.dylib
MacOS/hook_resolver/*.o
MacOS/hook_resolver/*.dylib
MacOS/hook_resolver/*.dSYM/
MacOS/reinjector/test_target/*.tgz
MacOS/reinjector/test_target/Contents/
MacOS/reinjector/test_target/Spotify.app/
iOS/*.ipa
iOS/__handlers__/
iOS/__pycache__/
iOS/client/
iOS/SkipTracer.framework/
iOS/Payload/
iOS/PatchTest/
iOS/Clutch/
iOS/*.plist
iOS/*.txt
iOS/spclient
iOS/spmod
iOS/debugserver
iOS/server/__pycache__/
iOS/itnl
iOS/frida-scripts/frida/
iOS/frida-scripts/__handlers__/
.DS_Store
/.vscode/
MacOS/hookcase/
MacOS/feat_resolver/
common/__pycache__/
iOS/frida-scripts/
MacOS/Spotify
.*.swp
*.o
*.dylib
*.dSYM
*/__pycache__/
*/.cache*
*/.ipynb_checkpoints/
